
Skip to content
Personal
Open source
Business
Explore
Pricing
Blog
Support
This repository

21
123

    46

realpython/flask-by-example
Code
Issues 0
Pull requests 0
Pulse
Graphs
flask-by-example/.gitignore
b197209 10 days ago
@mjhea0 mjhea0 init
55 lines (45 sloc) 554 Bytes
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

*.DS_Store

    Status API Training Shop Blog About 

    © 2016 GitHub, Inc. Terms Privacy Security Contact Help 

